<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"><title>Twttr</title><base href="/"></head><body><script type="systemjs-importmap">{
                "imports": {
                    "tweets-app": "http://localhost:4000/tweet-service.js",
                    "trending-app": "http://localhost:4002/trending-service.js"
                }
            }</script><main></main><script type="text/javascript" src="home.0c2d2ff89845b5a233f5.js"></script></body></html>