<html lang="en">
<head>
    <title>Twttr</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <base href="/">
</head>

<body>

<div class="container" style="padding-top: 1rem">
    <div class="col-md-12">
        {{{body}}}
    </div>
    <div class="col-md-12">
        <a href="http://{{trendingHost}}">
            Jetzt im Trend
        </a>
    </div>
</div>
</body>
</html>